# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
tmp_review/

# Build results
[Bb]uild/
[Bb]uilds/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Unity crash reports
sysinfo.txt

# Temporary files
*.bak
*.cache